body {
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(255,242,242);
}
#game-info {
  padding-top: 5.25rem;
}
h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32,64,86);
}
.sub-title {
  font-size: 1rem;
  font-weight: bold;
}
p {
  color: rgb(74,74,74);
}
#game {
  padding: 5.25rem;
}
.card {
  height: 12.5rem;
  background-color: rgb(32,64,86);
  border: 4px solid #ffffff;
  border-radius: 8px;
}
.card p {
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255,255,255);
  cursor: pointer;
  position: relative;
}
@media (max-width: 767px) {
  .card {
    height: 6.25rem;
  }
  .card p {
    font-size: 3.5rem;
  }
  #game {
    padding: 2.5rem 4rem;
  }
}
  @media (max-width: 374px) {
    .card {
      padding: 0 .5rem;
    }
    .card p {
      top: .25rem;
      font-size: 3rem;
      margin-bottom: 0;
    }
    #game {
      padding: 2rem 3rem;
    }
  }
}
